 // BANNER AT THE BOTTOM OF THE SITE
 .banner-space {
    height: 40px;
    min-height: 40px;
    width: 100%;
    background: url("../img/banner.png");
    background-size: contain;
    background-repeat: repeat-x;
    margin: 2% 0;
  }