* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Header/ nawigacja
.link {
  color: #858585;

  &:link,
  &:visited,
  &:active {
    color: #858585;
  }

  &:hover {
    text-decoration: none;
    opacity: 0.9;
  }
}

.main-section__header {
  width: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  display: flexbox;
  justify-content: space-between;
  height: 6em;
  padding-top: 3em;
  padding-bottom: 2em;
  position: sticky;
  top: 0;
  font-family: "Cinzel", serif;
  color: #858585;
  z-index: 5;

  .main-section__logo {
    display: flex;
    align-items: center;
    margin-left: 7%;
    .link {
      text-transform: uppercase;
      line-height: 1.4em;
      font-size: 26px;
    }
  }

  .main-section__nav {
    margin-right: 7%;
    display: flex;
    align-items: flex-end;
    font-weight: 400;
    font-size: 15px;

    .main-section__nav__list {
      .nav-item {
        padding: 0 20px;
      }
    }
  }
}

// main section
.main-section {
  width: 90%;
  margin: 0 auto;
  height: 900px;
  background-image: url("../img/main-section.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  display: flexbox;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .main-section__title {
    font-variant: small-caps;
    font-size: 90px;
    color: #858585;
    font-family: "Cinzel", serif;
    margin: 0;
  }

  .main-section__par {
    text-transform: uppercase;
    color: #858585;
    letter-spacing: 10px;
    margin-bottom: 22px;
    font-size: 25px;
    font-family: "Cinzel", serif;
  }

  .btn {
    border: 1px solid #959595;
    border-radius: 0;
    color: #858585;
    background: transparent;
    font-family: "Cinzel", serif;
    padding: 13px;
    transition: all 0.6s ease-in-out;

    &:hover {
      cursor: pointer;
      background: #c3c3c3;
      color: #fff;
    }
  }
}

.banner-space {
  height: 40px;
  width: 100%;
  background: url("../img/banner.png");
  background-size: contain;
  margin: 2% 0;
}

// kontakt
.contact-section {
  width: 90%;
  margin: 0 auto;
  height: 900px;
  display: flex;
  display: flexbox;

  .contact-section__img-container {
    height: 100%;
    width: 50%;
    background: url("../img/form-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .contact-section__content-container {
    height: 100%;
    width: 50%;
    background: #f0f3f6;

    .contact {
      height: 100%;
      width: 100%;
      display: flex;
      display: flexbox;
      flex-direction: column;
      font-family: "Cinzel", serif;
      color: #292929;
      line-height: 2.5em;
      align-items: center;

      .contact__info {
        height: 50%;
        padding: 6% 12% 0;
        display: flex;
        display: flexbox;
        flex-direction: column;
        align-items: center;
        text-align: justify;

        // .contact__info__header {
        // }

        .contact__info__content {
          margin-top: 10px;
        }
      }

      .contact__form {
        height: 50%;
        width: 60%;
        display: flex;
        display: flexbox;
        flex-direction: column;
        align-items: center;

        .form-item {
          width: 90%;
          margin-top: 10px;
          height: 7%;
        }

        .form-item__textarea {
          height: 30%;
        }

        .btn-contact {
          margin-top: 10px;
          color: #fff;
          background: #273a4e;
          border-radius: 0;
          transition: all 0.6s ease-in-out;
          border: 1px solid #273a4e;

          &:hover {
            cursor: pointer;
            background: #fff;
            color: #273a4e;
          }
        }
      }
    }
  }
}

// ONAS

.aboutUs-section {
  width: 90%;
  margin: 0 auto;
  height: 900px;
  display: flex;
  display: flexbox;

  .aboutUs-section__img-container {
    height: 100%;
    width: 50%;
    background: url("../img/oNas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .aboutUs-section__content-container {
    height: 100%;
    width: 50%;
    background: #f0f3f6;

    .aboutUs {
      height: 100%;
      width: 100%;
      display: flex;
      display: flexbox;
      flex-direction: column;
      font-family: "Cinzel", serif;
      color: #292929;
      line-height: 2em;
      align-items: center;

      .aboutUs__info {
        height: 50%;
        padding: 6% 12% 0;
        display: flex;
        display: flexbox;
        flex-direction: column;
        align-items: center;
        text-align: justify;

        .aboutUs__info__header {
          align-self: flex-start;
          margin-left: 15%;
        }

        .aboutUs__info__content {
          margin-top: 10px;
          width: 70%;
        }
      }
    }
  }
}

//OFERTA

.offert-section {
  width: 93%;
  margin: 0 auto;
  padding: 0;

  .row {
    width: 100%;
    padding: 0;
    margin: 0;

    .offert-section__item {
      height: 70vh;
      display: flex;
      display: flexbox;
      justify-content: center;
      align-items: center;
      padding: 0;
      border: 4px solid #fff;
      font-variant: small-caps;
      color: #f5f5f5;
      margin: 0;

      .offert-section__header {
        font-size: 2.7em;
        text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
        font-weight: bold;
        font-family: "Cinzel", serif;
      }
    }

    .krzesla {
      background: url("../img/krzesla.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .gabinetowe {
      background: url("../img/gabinetowe.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .biurowe {
      background: url("../img/biurowe.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .chillout {
      background: url("../img/chillout.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .recepcje {
      background: url("../img/recepcje.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .konferencyjne {
      background: url("../img/konferencyjne.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
